# Configuration file

~CONFIG_VERSION: 0.1.0

world-78688046 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=sword

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world-91535244 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1690200562 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1879373311 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=optica
    B:overlayEnabled=true
}


world755703800 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=conduit
    B:overlayEnabled=true
}


world785103634 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=shield
    B:overlayEnabled=true
}


world856609915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


